<label class='ml-2 flex items-center cursor-pointer'>
  <input type='checkbox' id='theme-toggle' class='hidden' />
  <div class='w-6 h-6 bg-gray-300 dark:bg-gray-600 rounded-full flex justify-center items-center'>
    <span id='emoji' class='symbol text-sm text-gray-700 dark:text-gray-300'>🌙</span>
  </div>
</label>
<script>
  const EMOJY = {
    dark: '🌙',
    light: '🌝',
  };

  document.addEventListener('DOMContentLoaded', function () {
    const emoji = document.getElementById('emoji') as HTMLElement;

    const themeToggle = document.getElementById('theme-toggle') as HTMLInputElement;
    const currentTheme =
      localStorage.getItem('theme') ||
      (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');

    emoji.textContent = EMOJY[currentTheme];
    document.documentElement.classList.toggle('dark', currentTheme === 'dark');
    themeToggle.checked = currentTheme === 'dark';

    themeToggle.addEventListener('change', function () {
      const newTheme = themeToggle.checked ? 'dark' : 'light';

      emoji.textContent = EMOJY[newTheme];
      document.documentElement.classList.toggle('dark', newTheme === 'dark');
      localStorage.setItem('theme', newTheme);
    });
  });
</script>
