@import "tailwindcss";
@import "./light.css";
@import "./dark.css";

@config "./../../tailwind.config.js";

@font-face {
  font-family: "SpaceGrotesk";
  src: url("/fonts/SpaceGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpaceGrotesk-Medium";
  src: url("/fonts/SpaceGrotesk-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpaceGrotesk-Bold";
  src: url("/fonts/SpaceGrotesk-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "SpaceGrotesk", "sans-serif";
}

.opacity-hidden {
  @apply opacity-0;
}
