@import "tailwindcss";
@import "./light.css";
@import "./dark.css";

@custom-variant dark (&:where(.dark, .dark *));
@config "./../../tailwind.config.js";
@plugin '@tailwindcss/typography';

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald-Medium";
  src: url("/fonts/Oswald-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald-Bold";
  src: url("/fonts/Oswald-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Oswald", "sans-serif";
}

.opacity-hidden {
  @apply opacity-0;
}

.light {
  --color-github-icon: #181616;
}
.dark {
  --color-github-icon: white;
}

body {
  @apply bg-white text-black transition-colors duration-3000;
}

.dark body {
  @apply bg-gray-900 text-white;
}
