---
import { getLangFromUrl, useTranslations } from './../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<nav
  id='mobile-menu'
  class='hidden sm:hidden absolute top-full left-0 w-full bg-surface-container-low shadow-md'
>
  <ul class='flex flex-col items-center p-4 space-y-4'>
    <li><a href='#about' class='text-on-surface'>{t('nav.about')}</a></li>
    <li><a href='#tech_stack' class='text-on-surface'>{t('nav.stack')}</a></li>
    <li><a href='#experience' class='text-on-surface'>{t('nav.experience')}</a></li>
    <li><a href='#contacts' class='text-on-surface'>{t('nav.contacts')}</a></li>
  </ul>
</nav>
<script>
  const toggle = document.getElementById('menu-toggle');
  const mobileMenu = document.getElementById('mobile-menu');

  function toggleMenu() {
    mobileMenu?.classList.toggle('hidden');
  }

  function closeMenu() {
    mobileMenu?.classList.add('hidden');
  }

  toggle?.addEventListener('click', toggleMenu);

  mobileMenu?.childNodes.forEach((node) => {
    node.addEventListener('click', closeMenu);
  });
</script>
