---
import { getLangFromUrl } from '../i18n/utils';
import { getEntry } from 'astro:content';
import avatar from './../img/avatar.jpg';

const lang = getLangFromUrl(Astro.url);

const entry = await getEntry('about', lang);
if (!entry) {
  return;
}
---

<section
  id='about'
  class='flex max-w-2xl mx-auto flex-col items-center text-center p-4 mt-20 max-h-screen'
>
  <img
    src={avatar.src}
    alt='Vacation photo'
    class='mb-4 w-48 h-48 md:w-120 md:h-120 rounded-full shadow-lg object-cover transform-gpu transition-transform duration-300 hover:scale-110'
  />
  <h2 class='text-4xl font-semibold mt-4 mb-4'>{entry.data.title}</h2>
  <div class='prose-p:text-secondary prose-p:mb-2 prose-p:text-lg'>
    <slot set:html={entry.rendered?.html} />
  </div>
</section>
