---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { getEntry } from 'astro:content';
import avatar from './../img/avatar.jpg';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const entry = await getEntry('about', lang);
if (!entry) {
  return;
}
---

<section id='about' class='bg-surface-container-low p-4 pt-20'>
  <div class='max-w-2xl mx-auto flex flex-col items-center'>
    <h1 class='text-on-surface text-2xl mr-auto font-bold'>{t('nav.about')}:</h1>
    <div>
      <img
        src={avatar.src}
        alt='Sasha'
        class='rounded-full mb-4 w-48 h-48 md:w-120 md:h-120 object-cover'
      />
    </div>
    <div>
      <p class='text-on-surface text-xl mb-2'>{entry.data.title}</p>
      <div class='prose-p:text-on-surface prose-p:text-lg prose-p:mb-2'>
        <slot set:html={entry.rendered?.html} />
      </div>
    </div>
  </div>
</section>
