<section id='about' class='p-4 pt-20'>
  <div class='max-w-2xl mx-auto flex flex-col items-center'>
    <h1 class='text-2xl mr-auto font-bold'>About me:</h1>
    <div>
      <img
        src='img/avatar.jpg'
        alt='Sasha'
        class='rounded-full mb-4 w-48 h-48 md:w-120 md:h-120 object-cover'
      />
    </div>
    <div>
      <p class='text-xl mb-2'>Hi, I’m Aleksandr 🤚</p>

      <p class='text-xl mb-2'>
        Frontend developer specializing in web, mobile, and TV applications using cross-platform
        technologies. My expertise lies in building seamless and high-performance user experiences
        across different platforms.
      </p>

      <p class='text-xl mb-2'>
        I’m passionate about creating smooth and efficient user interfaces, optimizing performance,
        and exploring new technologies.
      </p>

      <p class='text-xl'>
        To broaden my skill set, I’ve also experimented with backend development on Node.js, which
        helps me better understand full-stack applications. I love solving complex UI challenges and
        constantly improving my development approach. 🚀
      </p>
    </div>
  </div>
</section>
