---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id='contacts' class='p-4'>
  <div class='max-w-2xl mx-auto flex flex-col'>
    <h1 class='text-2xl font-bold mr-auto'>{t('contact me')}:</h1>
    <ul class='md:w-auto flex pt-2'>
      <li>
        <a
          href='mailto:sashaikonnikov55@gmail.com'
          target='_blank'
          class='text-on-surface underline underline-offset-6 hover:decoration-gray-500'
        >
          gmail
        </a>
      </li>

      <div class='mx-4'>|</div>

      <li>
        <a
          href='https://github.com/AlexIkonnikov'
          target='_blank'
          class='text-on-surface underline underline-offset-6 hover:decoration-gray-500'
        >
          github
        </a>
      </li>

      <div class='mx-4'>|</div>

      <li>
        <a
          href='https://t.me/sashaikonnikov'
          target='_blank'
          class='text-on-surface underline underline-offset-6 hover:decoration-gray-500'
        >
          telegram
        </a>
      </li>
    </ul>
  </div>
</section>
