---
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const { title, url } = lang === 'en' ? { title: 'RU', url: '/' } : { title: 'EN', url: '/en' };
---

<div
  id='lang-switcher'
  class='fixed bottom-4 right-4 bg-primary transition-opacity duration-300 text-on-primary px-4 py-2 rounded-full shadow-lg z-500'
>
  <a class='text-sm underline' href={url}>{title}</a>
</div>
<script>
  const ls = document.querySelector('#lang-switcher');
  let timeoutId;
  const handleScroll = () => {
    ls?.classList.add('opacity-hidden');

    clearTimeout(timeoutId);
    timeoutId = setTimeout(() => {
      ls?.classList.remove('opacity-hidden');
    }, 500);
  };

  window.addEventListener('scroll', handleScroll);
</script>
