---
import '../styles/global.css';
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
---

<html class='scroll-smooth light' lang={lang}>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>Alexandr Ikonnikov | Portfolio</title>
  </head>

  <body
    class=`
  bg-surface-container-low 
  bg-linear-to-r
  from-10%
  from-background
  via-surface-dim
  via-30%
  to-primary-container
  to-90%
  text-on-surface`
  >
    <slot />
  </body>
</html>
